*{
    padding: 0;
    margin: 0;
}

body{
    height: 200vh;
}

.parent{
    background-color: cornflowerblue;
    /* position: relative; */

}

.child1{
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -8px;
    
}

.child2{
    background-color: aquamarine;
    position: fixed;
    top: 50px;
}

.child3{
    background-color: chartreuse;
    
}